# Ignora entornos virtuales
venv/
#env/

# Ignora archivos de Python compilados
__pycache__/
*.pyc


# Archivos de sistema
.DS_Store
Thumbs.db

# Caché de modelos u otros recursos grandes
models_cache/
*.bin
*.safetensors

# Archivos de logs
*.log
logs/

# Archivos temporales de editores
.vscode/
.idea/
*.swp
*.swo
